@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url(https://rbl-agla.ia.tt/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf)
    format("truetype");
}
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url(https://rbl-agla.ia.tt/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf)
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://rbl-agla.ia.tt/fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://rbl-agla.ia.tt/fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url(https://rbl-agla.ia.tt/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(https://rbl-agla.ia.tt/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;  
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Roboto Condensed", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
.hidden {
  display: none;
}
.container {
  height: 82vh;
  display: flex;
  flex-direction: column;
}
.seventy {
  height: 70%;
  background-color: #fff;
}
.thirty {
  display: none;
  height: 30%;
  background-color: #ddd;
}
.header {
  position: relative;
}
.header-logo {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  height: auto;
  width: 40vw;
  z-index: 1001;
}
.quiztitle {
  position: relative;
  margin-top: 15vh;
  padding: 1% 5%;
  font-size: 1.5em;
}
.quiz-container {
  margin: auto;
  margin-top: 3%;
  border-radius: 8px;
  max-width: 80%;
}
.question {
  margin-bottom: 3%;
}
.choices {
  margin-bottom: 20px;
  color: #4b4b4c;
}
.choice {
  padding: 10px;
  margin: 15px;
  background-color: #ccc;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: left;
  font-size: 1.0em;
  cursor: pointer;
}
.choice.selected {
  background-color: #ed1848;
  color: #fff;
}
.choice.correct {
  background-color: #50b948;
  color: #fff;
}
.message-display {
  font-size: 1.8em;
  color: red;
  margin-top: 20px;
}
h1 {
  font-size: 1.8em;
  color: #4b4b4c;
}
h1#question {
  text-align: left;
  color: #4b4b4c;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 1.2em;
  color: #4b4b4c;
}
#start-countdown {
  font-size: 20vw; /* Responsive font size */
  color: #50b948;
  z-index: 1001;
  text-align: center; /* Center the text within the element */
  width: 100%; /* Make the element take up full width for centering */

  position: fixed;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
#timer {
  font-size: 10vw;
}
.timer {
  color: #adadae;
  position: absolute;
  bottom: 35vh;
  left: 10vw;
}

@media screen and (orientation: landscape) {
  .timer {
    font-size: 5vw;
    bottom: 10vh;
    left: 10vw;
  }

  #timer {
    font-size: 5vw;
  }
}

.next-button {
  margin-top: 5%;
  font-size: 1.2em;
  height: 60px;
  width: 80px;
  cursor: pointer;
  background-color: #fbaf33;
  color: #fff;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  float: right;
}
.next-button:hover {
  background-color: #333;
  color: #fff;
}
.timer,
.score {
  font-size: 1.8em;
}
.win-container{
  position: static;
  margin-top: 20vh;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}
.back-link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 0.6;
  text-decoration: none;
  color: #000;
}
.back-link:hover {
  opacity: 1;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wiggle-animation {
  animation: wiggle 1s infinite;
}
@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.zoom-in-animation {
  animation: zoomIn 0.5s forwards, wiggle 1s 0.5s infinite;
}
@keyframes bounceZoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.bounce-zoom-in-animation {
  animation: bounceZoomIn 0.7s forwards, wiggle 1s 0.7s infinite;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #009AC7;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
